<div fxFill fxLayout="column" fxLayoutAlign="center center" class="inputcontainer">
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <div fxLayout = "row">
            <md-input-container class="full-width">
            <input mdInput placeholder="Enter a sentence" [(ngModel)]="sentence">
            </md-input-container>
            &nbsp;
            <button md-fab (click) = "getinput()"><md-icon>check</md-icon></button>
          </div>
        </td>
      </tr>
    </table>
    <div class="ycontainer full-width" fxFlex= "30" fxLayout = "row" fxLayoutAlign="center center" >
      {{yodasentence}}
    </div>
</div>
